/* @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap'); */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  /* src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato-Italic.ttf) format('woff2'); */
  src: url(../fonts/Lato-Italic.ttf);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  /* src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato-Italic.ttf) format('ttf'); */
  src: url(../fonts/Lato-Italic.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  /* src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts/Lato-BoldItalic.ttf) format('woff2'); */
  src: url(../fonts/Lato-BoldItalic.ttf);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  /* src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts/Lato-BoldItalic.ttf) format('woff2'); */
  src: url(../fonts/Lato-BoldItalic.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.ttf) format('woff2'); */
  src: url(../fonts/Lato-Regular.ttf);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.ttf) format('woff2'); */
  src: url(../fonts/Lato-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.ttf) format('woff2'); */
  src: url(../fonts/Lato-Bold.ttf);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.ttf) format('woff2'); */
  src: url(../fonts/Lato-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato';
}

body {
   background-color: #e8e8e8;
}

.container {
   width: 19cm;
   height: 29.7cm;
   margin: 0 auto;
   background-color: white;
   padding: 0.5cm 1cm;
}

.header,
.customer,
.transport {
   overflow: hidden;
   padding-top: 0.1cm;
   padding-bottom: 0.1cm;
   border-bottom: 2px lightgray solid;
}

.header {
   height: 3.5cm;
}

.customer {
   background-color: #f2f2f2;
   height: 3cm;
}

.transport {
   height: 0.8cm;
}

.items {
   height: 17.5cm;
}

.totals {
   height: 1.5cm;
   overflow: hidden;
   padding-top: 0.6cm;
   border-top: 2px lightgray solid;
}

.header .header-left {
   float: left;
   width: 40%;
}

.header .header-center {
   float: left;
   width: 20%;
   text-align: center;
}

.header .header-right {
   float: left;
   width: 40%;
   text-align: right;
}

.header .invoice-letter {
   border: 1px solid black;
   padding: 3px 10px;
   margin-bottom: 3px;
   display: inline-block;
}

.header .invoice-type {
   font-size: 14px;
}

.customer .customer-left {
   float: left;
   width: 66%;
}

.customer .customer-right {
   float: left;
   width: 33%;
}

.transport .transport-left {
   float: left;
   width: 80%;
}

.items-table {
   width: 100%;
   border-collapse: collapse;
}

.items-table .items-header-row {
   background-color: #f0f0f0;
   border-bottom: 2px solid lightgray;
   height: 0.8cm;
}

.items-table .items-row {
   height: 0.8cm;
}

.items-table .items-col-1 {
   width: 4%;
   color: gray;
   font-size: 14px;
}

.items-table .items-col-2 {
   width: 12%;
   text-align: left;
}

.items-table .items-col-3 {
   width: 40%;
   text-align: left;
}

.items-table .items-col-4 {
   width: 16%;
   text-align: right;
}

.items-table .items-col-5 {
   width: 12%;
   text-align: right;
}

.items-table .items-col-6 {
   width: 16%;
   text-align: right;
   padding-right: 10px;
}

.totals .totals-right {
   float: left;
   width: 70%;
}

.totals .totals-slot {
   background-color: #f0f0f0;
   border-bottom: 2px solid lightgray;
   padding: 5px 10px;
   display: inline-block;
   width: 32%;
}

.totals .slot-caption {
   font-size: 14px;
}

.totals .slot-amount {
   font-size: 20px;
}

.mt-1 {
   margin-top: 5px;
}

.mt-2 {
   margin-top: 10px;
}

.mt-3 {
   margin-top: 15px;
}

.mt-4 {
   margin-top: 20px;
}
