.navbar {
   display: inline-block;
}

.nav-item {
   display: inline-block;
   padding: 5px 12px;
   cursor: pointer;
   border-radius: 5px;
}

.nav-item:hover {
   background-color: #ffdfd0;
}

.info-badge {
   margin-left: 12px;
   padding: 5px 12px;
   background-color: #f0f0f0;
   border-radius: 5px;
}

.tab-component {
   /*  */
}

.tab-stops {
   display: flex;
   align-items: flex-start;
}

.tab-stop {
   font-size: 20px;
   font-weight: bold;
   color: rgb(64, 42, 0);
   padding: 12px 30px;
   border-top: 1px solid orange;
   border-left: 1px solid orange;
   border-right: 1px solid orange;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background-image: linear-gradient(hsl(39, 63%, 88%), hsl(39, 91%, 66%));
   margin-right: -10px;
   cursor: pointer;
}

.tab-stop:hover,
.tab-stop.selected {
   background-image: linear-gradient(rgb(250, 244, 233), rgb(250, 214, 148));
}

.tab-page {
   /* height: 100px; */
   border-left: 1px solid orange;
   border-right: 1px solid orange;
   border-bottom: 1px solid orange;
   background-color: rgb(250, 214, 148);
   padding: 20px;
}

.list-row {
   display: flex;
}

.list-col {
   width: 250px;
}

.list-col h3 {
   margin-bottom: 10px;
}

.list-col ul li {
   margin-left: 18px;
   margin-bottom: 3px;
}

.list-col ul li i.fa-check-circle {
   color: green;
}

.list-col ul li i.fa-circle {
   color: #d00000;
}

.list-col ul li i {
   cursor: pointer;
}
