@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #E5E5B8;
}

p {
   margin-bottom: 18px;
}

a {
   text-decoration: none;
   color: #800000;
}

a:hover {
   color: #bb7024;
}

.banner {
   height: 170px;
   background-image: url('../img/hd_bkg.jpg');
   background-repeat: no-repeat;
   background-size: auto 170px;
}

.navigator {
   background-color: #F0CE8C;
}

.navigator .drop-down {
   color: #800000;
   padding: 12px;
   position: relative;
}

.navigator .drop-down i {
   font-size: 24px;
   margin: 0 12px;
   cursor: pointer;
}

.navigator .drop-down i:hover {
   color: #008000;
}

.navigator .drop-down h2 {
   text-transform: uppercase;
   font-size: 24px;
   font-weight: normal;
   display: inline-block;
}

.navigator .menu {
   color: #800000;
   overflow: hidden;
   display: none;
}

.navigator .menu .slider {
   width: 2000px;
}

.navigator .menu .slider ul {
   list-style-type: none;
   overflow: clip;
}

.navigator .menu .slider ul li {
   padding: 12px;
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   display: inline-block;
   position: relative;
}

.navigator .menu .slider ul li:hover {
   background-color: #FFAD59;
}

.navigator .menu .slider ul li a {
   color: #800000;
   text-decoration: none;
}

.navigator .menu .slider .submenu {
   position: absolute;
   top: 50%;
}

.navigator .menu .slider .submenu li {
   display: block;
   padding: 12px 0;
}

.navigator .drop-down-menu {
   position: absolute;
   background-color: #F0CE8C;
   box-shadow: 2px 2px 2px #686868;
   left: 0px;
   top: 50px;
   display: none;
}

.navigator .drop-down-menu ul {
   margin-top: 10px;
   list-style-type: none;
}

.navigator .drop-down-menu ul li {
   padding: 12px 16px;
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   border-bottom: 1px solid  #bb7024;
}

.navigator .drop-down-menu ul li:first-child {
   border-top: 1px solid  #bb7024;
}

.navigator .drop-down-menu ul li:hover {
   background-color: #FFAD59;
}

.navigator .drop-down-menu ul li.no-border {
   border: none;
}

.navigator .drop-down-menu ul li a {
   color: #800000;
   text-decoration: none;
}

.navigator .drop-down-menu ul li img {
   height: 16px;
   margin-right: 6px;
}

.container {
   margin: 20px;
}

.container img {
   width: 80%;
   margin: 20px auto;
   border-radius: 5px;
   display: block;
}

.container .text {
   font-size: 18px;
}


@media (min-width: 600px)
{
   .banner {
      height: auto;
      padding-top: 27.33%;
      background-size: cover;
   }

   .container img {
      width: 40%;
      margin: 20px 30px;
      float: left;
   }

   .navigator .drop-down {
      display: none;
   }

   i.drop-down-only,
   li.drop-down-only {
      display: none;
   }

   .navigator .menu {
      display: block;
   }
}
