@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

html {
   overflow-x: hidden;
}

body {
   background-color: #E5E5B8;
   overflow-x: hidden;
   max-width: 1200px;
   margin: 0 auto;
}

p {
   margin-bottom: 18px;
   line-height: 1.5em;
}

a {
   text-decoration: none;
   color: #800000;
}

a:hover {
   color: #bb7024;
}

.banner {
   height: 170px;
   background-image: url('../img/hd_bkg.jpg');
   background-repeat: no-repeat;
   background-size: auto 170px;
}

.navigator {
   background-color: #F0CE8C;
}

.navigator .drop-down {
   color: #800000;
   padding: 12px;
   position: relative;
}

.navigator .drop-down i {
   font-size: 24px;
   margin: 0 12px;
   cursor: pointer;
}

.navigator .drop-down i:hover {
   color: #008000;
}

.navigator .drop-down h2 {
   text-transform: uppercase;
   font-size: 24px;
   font-weight: normal;
   display: inline-block;
}

.navigator .menu {
   color: #800000;
   display: none;
}

.navigator .menu .slider {
   width: 2000px;
}

.navigator .menu .slider ul {
   list-style-type: none;
   display: flex;
}

.navigator .menu .slider ul li {
   padding: 12px;
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   position: relative;
}

.navigator .menu .slider ul li:hover,
.navigator .menu .slider ul li.selected {
   background-color: #FFAD59;
}

.navigator .menu .slider ul li a {
   color: #800000;
   text-decoration: none;
}

.navigator .menu .slider ul li a.new,
.navigator .drop-down-menu ul li a.new {
   border: 1px solid #800000;
   padding: 2px 6px;
}

.navigator .menu .slider ul li:hover .submenu,
.navigator .menu .slider ul li:hover .new-tooltip,
.navigator .drop-down-menu ul li:hover .new-tooltip {
   display: block;
}

.navigator .menu .slider ul li .lang-icon,
.navigator .drop-down-menu ul li .lang-icon {
   width: 28px;
   height: 19px;
   margin-right: 8px;
   transform: translateY(3px);
}

.navigator .menu .slider .submenu {
   position: absolute;
   background-color: #F0CE8C;
   box-shadow: 2px 2px 2px #686868;
   top: 100%;
   left: 0;
   display: none;
}

.navigator .menu .slider .submenu li {
   padding: 12px;
   white-space: nowrap;
}

.navigator .menu .slider .submenu li div {
   width: 140px;
}

.navigator .menu .slider .submenu li div img,
.navigator .drop-down-menu .submenu li div img {
   width: 28px;
   height: 20px;
   margin-right: 4px;
   transform: translateY(3px);
}

.navigator .menu .slider .new-tooltip,
.navigator .drop-down-menu .new-tooltip {
   position: absolute;
   box-shadow: 2px 2px 2px #686868;
   padding: 4px 6px 3px;
   border-radius: 4px;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
}

.navigator .menu .slider .new-tooltip {
   background-color: #F0CE8C;
   bottom: calc(100% + 10px);
   left: -15px;
   width: 120%;
   display: none;
}

.navigator .drop-down-menu .new-tooltip {
   background-color: #EABD61;
   top: 12px;
   right: -150px;
   width: 80%;
}

.navigator .menu .slider .new-tooltip::after {
   content: '';
   position: absolute;
   bottom: -8px;
   left: calc(50% - 10px);
   border-top: 8px solid #F0CE8C;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
}

.navigator .drop-down-menu .new-tooltip::after {
   content: '';
   position: absolute;
   bottom: calc(50% - 8px);
   left: -8px;
   border-top: 8px solid transparent;
   border-right: 8px solid #EABD61;
   border-bottom: 8px solid transparent;
}

.navigator .drop-down-menu {
   position: absolute;
   background-color: #F0CE8C;
   box-shadow: 2px 2px 2px #686868;
   left: 0px;
   top: 50px;
   display: none;
}

.navigator .drop-down-menu ul {
   margin-top: 10px;
   list-style-type: none;
}

.navigator .drop-down-menu ul li {
   position: relative;
   padding: 12px 20px 12px 6px;
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   border-bottom: 1px solid  #bb7024;
}

.navigator .drop-down-menu ul li:first-child {
   border-top: 1px solid  #bb7024;
}

.navigator .drop-down-menu ul li:hover,
.navigator .drop-down-menu ul li.selected {
   background-color: #FFAD59;
}

.navigator .drop-down-menu ul li.no-border {
   border: none;
}

.navigator .drop-down-menu ul li a {
   color: #800000;
   text-decoration: none;
}

.navigator .drop-down-menu ul li img {
   height: 16px;
   margin-right: 6px;
}

.navigator .drop-down-menu .submenu {
   padding-left: 50px;
}

.navigator .drop-down-menu .submenu li {
   padding-left: 30px;
}

.footer {
   margin-top: 30px;
   padding: 20px;
   background-color: #9c9c36;
   color: #394400;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.footer div {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   min-height: 220px;
}

.footer img {
   width: 80px;
   display: block;
   margin: 0 auto;
}

.footer h4 {
   text-align: center;
}

.footer a {
   color: #394400;
}

footer a:hover {
   color: #008000;
}

.footer ul {
   list-style-type: none;
}

.footer ul li {
   padding: 6px 0;
   text-align: center;
}

.container {
   margin: 20px;
}

.container .portrait {
   width: 80%;
   margin: 20px auto;
   border-radius: 5px;
   display: block;
}

.container .text {
   font-size: 18px;
}

.container .text .title {
   padding: 16px 0;
}

.container .text ul {
   margin-left: 20px;
}

.container .text ul li {
   line-height: 1.5em;
   margin-bottom: 0.8em;
}

.container .text .tactus1,
.container .text .tactus2,
.container .text .tactus3 {
   vertical-align: middle;
}

.container .text .tactus1 {
   width: 18.5px;
   height: 21px;
}

.container .text .tactus2 {
   width: 18.5px;
   height: 32px;
}

.container .text .tactus3 {
   width: 17px;
   height: 20px;
}

.container .text .award-icon {
   width: 24px;
   height: 24px;
   vertical-align: middle;
}

.container .text .contact-form {
   max-width: 600px;
   background-color: rgba(255, 255, 255, 40%);
   border: 1px solid rgba(0, 0, 0, 20%);
   border-radius: 6px;
   padding: 30px;
   margin: 30px auto;
   text-align: center;
}

.container .text .contact-form label {
   font-size: 14px;
   color: #800000;
   display: block;
   margin-left: 6px;
   margin-bottom: 2px;
   text-align: left;
   text-transform: uppercase;
}

.container .text .contact-form input,
.container .text .contact-form textarea {
   font-size: 18px;
   outline: none;
   background-color: white;
   border: 1px solid #b9d6bb;
   border-radius: 4px;
   padding: 8px 12px;
   margin-bottom: 20px;
   width: 100%;
}

.container .text .contact-form .error {
   color: #d00000;
   margin-left: 12px;
   margin-top: -16px;
   text-align: left;
}

.container .text .contact-form .flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.container .text .contact-form button,
.container .text .contact-form .btn {
   font-size: 18px;
   font-weight: bold;
   color: #800000;
   background-color: #F0CE8C;
   border: none;
   border-radius: 6px;
   margin: 4px 0;
   padding: 8px 20px;
   cursor: pointer;
   transition: 0.2s;
}

.container .text .contact-form button:hover,
.container .text .contact-form .btn:hover {
   background-color: #FFAD59;
}

.container .table {
   width: 92vw;
   margin-bottom: 30px;
}

.container .table .titulo-tabla {
   width: 100%;
   background-color: rgb(210, 187, 140);
   font-weight: bold;
   border-top: 1px solid maroon;
   padding: 3px 0px 1px;
   text-align: center;
   cursor: pointer;
}

.container .table .encabezado-tabla {
   background-color: rgb(210, 187, 140);
   font-weight: bold;
   border-top: 1px solid maroon;
   border-bottom: 1px solid maroon;
   padding: 3px 0px 1px;
   margin-bottom: 5px;
   cursor: pointer;
}

.container .table .pie-tabla {
   border-bottom: 1px solid maroon;
   padding-bottom: 2px;
   cursor: pointer;
}

.container .table .celda-tabla {
   padding: 2px 0px;
}

.container .table .fila-tabla {
   cursor: pointer;
   display: flex;
   flex-wrap: wrap;
}

.container .table .fila-tabla.medium-device {
   display: none;
}

.container .table .fila-tabla.small-device {
   display: flex;
   margin-top: 10px;
}

.container .table .fila-tabla.small-device:nth-child(4n + 2) {
   background-color: rgba(0, 0, 0, 8%);
}

.container .table .resaltable:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

.container .links-group h3 {
   margin: 40px 0 20px 0;
   color: #800000;
}

.container .links-group ul {
   margin-left: 20px;
}

.container .links-group ul li {
   list-style-type: none;
   line-height: 1.5em;
   margin-bottom: 0.4em;
}

.container .links-group .pdf-icon {
   width: 24px;
   height: 24px;
   margin-right: 6px;
   vertical-align: middle;
}

.container .links-group .group-ref {
   margin: 0 0 10px 20px;
   padding: 6px 10px;
   color: #800000;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   line-height: 1.4em;
   max-width: 500px;
   display: inline-block;
}

.container .links-group .badge {
   margin: 0 0 0 10px;
   padding: 4px 10px;
   color: #800000;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}

.container .editors-group p {
   margin-bottom: 0;
   line-height: 1.4em;
}

.container .editors-group ul,
.container .awarded-group ul {
   margin-left: 40px;
}

.container .editors-group ul li,
.container .awarded-group ul li {
   margin-bottom: 0.3em;
   line-height: 1.3em;
}

.container .perf-group .perf-thumb {
   width: 200px;
   height: 150px;
   padding: 10px;
   margin: 10px 10px 4px 0;
   background-color: rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   cursor: pointer;
   transition: 0.2s;
   display: inline-block;
}

.container .perf-group .perf-thumb:hover {
   background-color: rgba(0, 0, 0, 0.4);
}

.container .perf-group .perf-thumb img {
   width: 100%;
   height: 100%;
}

.align-right {
   text-align: right;
}

.totals-link {
   white-space: nowrap;
   margin-right: 15px;
   margin-bottom: 5px;
}

.modal-bg {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
}

.modal-box {
   --w: 800px;
   --h: 600px; 
   width: 200px;
   height: 150px;
   position: absolute;
   top: calc(50vh - 75px);
   left: calc(50vw - 100px);
   padding: 15px;
   background-color: #eee;
   border-radius: 6px;
   animation: popup 0.5s forwards;
   display: none;
}

.modal-box i {
   position: absolute;
   top: 10px;
   right: 12px;
   cursor: pointer;
   font-size: 24px;
   color: #686868;
}

.modal-box i:hover {
   color: #800000;
}

.modal-img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.desktop-only {
   display: none;
}

.error-404 {
   width: 60%;
   margin: 40px auto;
   text-align: center;
}

.error-404 h1 {
   font-size: 60px;
   margin: 30px;
}

.error-404 h3 {
   font-size: 20px;
   margin: 10px;
}

.error-404 p {
   font-size: 18px;
}


@keyframes popup
{
   to {
      /* width: 95vw;
      height: calc(95vw * 3 / 4);
      max-width: 800px;
      max-height: 600px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); */
      width: var(--w);
      height: var(--h);
      left: calc(50vw - var(--w) / 2);
      top: calc(50vh - var(--h) / 2);
   }
}


@media (min-width: 600px)
{
   .banner {
      height: auto;
      padding-top: 27.33%;
      background-size: cover;
   }

   .container .portrait {
      width: 40%;
      margin: 20px 30px;
      float: left;
   }

   .navigator .drop-down {
      display: none;
   }

   i.drop-down-only,
   li.drop-down-only {
      display: none;
   }

   .navigator .menu {
      display: block;
   }

   .desktop-only {
      display: block;
   }

   .container .text .contact-form {
      padding: 30px 80px;
      margin: 50px auto;
   }

   .container .table {
      width: 94vw;
      font-size: 16px;
   }

   .container .table .fila-tabla.medium-device {
      display: flex;
   }

   .container .table .fila-tabla.small-device {
      display: none;
   }

   .footer div {
      width: auto;
   }
}


@media (min-width: 900px)
{
   .container .table {
      width: 900px;
      font-size: 18px
   }
}
